In [5]:
!pip install seaborn

Collecting seaborn
  Downloading seaborn-0.12.1-py3-none-any.whl (288 kB)
     ------------------------------------ 288.2/288.2 kB 808.1 kB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17 in c:\users\widya wicara\miniconda3\lib\site-packages (from seaborn) (1.23.4)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\widya wicara\miniconda3\lib\site-packages (from seaborn) (3.6.2)
Requirement already satisfied: pandas>=0.25 in c:\users\widya wicara\miniconda3\lib\site-packages (from seaborn) (1.5.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\widya wicara\miniconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\widya wicara\miniconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.3.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\widya wicara\miniconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\widya wicara\miniconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.38.0)
Requirement already satisfied: packaging>=20.0 in c:\users\widya wicara\miniconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (21.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\widya wicara\miniconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\widya wicara\miniconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.6)
Requirement already satisfied: cycler>=0.10 in c:\users\widya wicara\miniconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\widya wicara\miniconda3\lib\site-packages (from pandas>=0.25->seaborn) (2022.6)
Requirement already satisfied: six>=1.5 in c:\users\widya wicara\miniconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.12.1

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
# Import Library yang akan dibutuhkan dalam teks analitik
import pandas as pd
import nltk
import re
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
from datetime import datetime
import matplotlib.pyplot as plt
%matplotlib inline
from PIL import Image
import seaborn as sns
from nltk.util import ngrams
from collections import defaultdict

from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
nltk.download('punkt')
nltk.download('wordnet')

import numpy as np
import os

[nltk_data] Downloading package punkt to C:\Users\Widya
[nltk_data]     Wicara\AppData\Roaming\nltk_data...

In [3]:
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [4]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [5]:
!ls

gdrive	sample_data

In [6]:
name_path = "/content/gdrive/MyDrive/narasio/materi fix/deploymen pertemuan 1/main room/"
name_file ="indo_data50.csv"

In [7]:
data = pd.read_csv(name_path + name_file)
data.tail()

    label                                              tweet
45  happy  Z suka twitter soalny perempuan ji semua teman...
46  anger  Nggak ngerti lagi sama ciwi-ciwi yang nyinyiri...
47  anger  hari ini libur, rencananya mau nonton Jurassic...
48  anger  Nah ini, yg nunggu anak anteng dengan kesabara...
49   love  Ku rindu bisik mu di telingaku Seraya kau berk...

**Preprocessing Data**

In [8]:
def data_cleaning(text):
  # menghilangkan html tag
  # Format html
  html_tag = re.compile(r'<.*?>')
  text = re.sub(html_tag, r'', text)

  # menghilangkan url
  # Format URL
  http_link = re.compile(r'https://\S+')
  www_link = re.compile(r'www\.\S+')
  text = re.sub(http_link, r'', text)
  text = re.sub(www_link, r'', text)

  # menghilangkan tanda baca
  # Tanda baca yang tidak diperlukan
  punctuation = re.compile(r'[^\w\s]')
  text = re.sub(punctuation, r'', text)
  
  return text

In [9]:
#mendefinisikan nama kolom yang akan dipakai
name_column_dataset = "tweet"

In [10]:
#cleaning data
data[name_column_dataset] = data[name_column_dataset].apply(lambda x: x.lower())
data["remove_punc"] = data[name_column_dataset].apply(lambda x: data_cleaning(x))
data["clean"] = data["remove_punc"].apply(lambda x: word_tokenize(x))

In [11]:
data.head()

,label,tweet,remove_punc,clean
0,anger,"soal jln jatibaru,polisi tdk bs gertak gubernu...",soal jln jatibarupolisi tdk bs gertak gubernur...,"[soal, jln, jatibarupolisi, tdk, bs, gertak, g..."
1,anger,"sesama cewe lho (kayaknya), harusnya bisa lebi...",sesama cewe lho kayaknya harusnya bisa lebih r...,"[sesama, cewe, lho, kayaknya, harusnya, bisa, ..."
2,happy,kepingin gudeg mbarek bu hj. amad foto dari go...,kepingin gudeg mbarek bu hj amad foto dari goo...,"[kepingin, gudeg, mbarek, bu, hj, amad, foto, ..."
3,anger,"jln jatibaru,bagian dari wilayah tn abang.peng...",jln jatibarubagian dari wilayah tn abangpengat...,"[jln, jatibarubagian, dari, wilayah, tn, abang..."
4,happy,"sharing pengalaman aja, kemarin jam 18.00 bata...",sharing pengalaman aja kemarin jam 1800 batali...,"[sharing, pengalaman, aja, kemarin, jam, 1800,..."

In [12]:
#lemmatizing
start_time = datetime.now()
lemmatizer = WordNetLemmatizer()
data["clean"] = data["clean"].apply(lambda x: [lemmatizer.lemmatize(word) for word in x])
end_lema = datetime.now()
print ("lema done",(end_lema - start_time))

lema done 0:00:02.207736

In [13]:
#steamming data
factory = StemmerFactory()
stemmer = factory.create_stemmer()
data["clean"] = data["clean"].apply(lambda x: " ".join(stemmer.stem(word) for word in x))
end_stem = datetime.now()
print ("stemmer done",(end_stem-end_lema))

stemmer done 0:00:57.443384

In [14]:
data.head()

,label,tweet,remove_punc,clean
0,anger,"soal jln jatibaru,polisi tdk bs gertak gubernu...",soal jln jatibarupolisi tdk bs gertak gubernur...,soal jln jatibarupolisi tdk b gertak gubernur ...
1,anger,"sesama cewe lho (kayaknya), harusnya bisa lebi...",sesama cewe lho kayaknya harusnya bisa lebih r...,sama cewe lho kayak harus bisa lebih rasain la...
2,happy,kepingin gudeg mbarek bu hj. amad foto dari go...,kepingin gudeg mbarek bu hj amad foto dari goo...,kepingin gudeg mbarek bu hj amad foto dari goo...
3,anger,"jln jatibaru,bagian dari wilayah tn abang.peng...",jln jatibarubagian dari wilayah tn abangpengat...,jln jatibarubagian dari wilayah tn abangpengat...
4,happy,"sharing pengalaman aja, kemarin jam 18.00 bata...",sharing pengalaman aja kemarin jam 1800 batali...,sharing alam aja kemarin jam 1800 batalin tike...

In [15]:
#stopword
factory = StopWordRemoverFactory()
stopword = factory.create_stop_word_remover()
data["clean"] = data["clean"].apply(lambda x: " ".join(stopword.remove(x) for x in x.split()))
end_stop = datetime.now()
print ("stopword done", (end_stop - end_stem))

stopword done 0:00:00.050719

In [16]:
data.head()

,label,tweet,remove_punc,clean
0,anger,"soal jln jatibaru,polisi tdk bs gertak gubernu...",soal jln jatibarupolisi tdk bs gertak gubernur...,soal jln jatibarupolisi tdk b gertak gubernur ...
1,anger,"sesama cewe lho (kayaknya), harusnya bisa lebi...",sesama cewe lho kayaknya harusnya bisa lebih r...,sama cewe lho kayak lebih rasain lah sibuk...
2,happy,kepingin gudeg mbarek bu hj. amad foto dari go...,kepingin gudeg mbarek bu hj amad foto dari goo...,kepingin gudeg mbarek bu hj amad foto google ...
3,anger,"jln jatibaru,bagian dari wilayah tn abang.peng...",jln jatibarubagian dari wilayah tn abangpengat...,jln jatibarubagian wilayah tn abangpengaturan...
4,happy,"sharing pengalaman aja, kemarin jam 18.00 bata...",sharing pengalaman aja kemarin jam 1800 batali...,sharing alam aja kemarin jam 1800 batalin tike...

menjadikan proses preprocessing data menjadi satu fungsi

In [17]:
#fungsi preprocessing
def prepros (data, name_column_dataset):
  data[name_column_dataset] = data[name_column_dataset].apply(lambda x: x.lower())
  data["remove_punc"] = data[name_column_dataset].apply(lambda x: data_cleaning(x))
  data["clean"] = data["remove_punc"].apply(lambda x: word_tokenize(x))

  start_time = datetime.now()
  lemmatizer = WordNetLemmatizer()
  data["clean"] = data["clean"].apply(lambda x: [lemmatizer.lemmatize(word) for word in x])
  end_lema = datetime.now()
  print ("lema done",(end_lema - start_time))

  factory = StemmerFactory()
  stemmer = factory.create_stemmer()
  data["clean"] = data["clean"].apply(lambda x: " ".join(stemmer.stem(word) for word in x))
  end_stem = datetime.now()
  print ("stemmer done",(end_stem-end_lema))

  factory = StopWordRemoverFactory()
  stopword = factory.create_stop_word_remover()
  data["clean"] = data["clean"].apply(lambda x: " ".join(stopword.remove(x) for x in x.split()))
  end_stop = datetime.now()
  print ("stopword done", (end_stop - end_stem))
  data["clean"] = data["clean"].apply(lambda x:re.sub(' +', ' ',x))

  return(data)

In [18]:
name_path = "/content/gdrive/MyDrive/narasio/materi fix/deploymen pertemuan 1/main room/"
name_file ="indo_data50.csv"
data = pd.read_csv(name_path + name_file)

name_column_dataset = "tweet"

df_pre = prepros (data, name_column_dataset)

lema done 0:00:00.006101
stemmer done 0:00:42.846002
stopword done 0:00:00.006399

In [19]:
df_pre.head()

,label,tweet,remove_punc,clean
0,anger,"soal jln jatibaru,polisi tdk bs gertak gubernu...",soal jln jatibarupolisi tdk bs gertak gubernur...,soal jln jatibarupolisi tdk b gertak gubernur ...
1,anger,"sesama cewe lho (kayaknya), harusnya bisa lebi...",sesama cewe lho kayaknya harusnya bisa lebih r...,sama cewe lho kayak lebih rasain lah sibuk jag...
2,happy,kepingin gudeg mbarek bu hj. amad foto dari go...,kepingin gudeg mbarek bu hj amad foto dari goo...,kepingin gudeg mbarek bu hj amad foto google s...
3,anger,"jln jatibaru,bagian dari wilayah tn abang.peng...",jln jatibarubagian dari wilayah tn abangpengat...,jln jatibarubagian wilayah tn abangpengaturan ...
4,happy,"sharing pengalaman aja, kemarin jam 18.00 bata...",sharing pengalaman aja kemarin jam 1800 batali...,sharing alam aja kemarin jam 1800 batalin tike...

**train data**

In [20]:
def get_model(X, Y):
    model = Sequential()
    model.add(Embedding(input_dim = vocab, output_dim = 128, input_length = max_sentence_length, embeddings_initializer = initializer))
    model.add(Conv1D(128, 7, activation='relu',padding='same'))
    model.add(MaxPooling1D())
    model.add(Conv1D(256, 5, activation='relu',padding='same'))
    model.add(MaxPooling1D())
    model.add(Conv1D(512, 3, activation='relu',padding='same'))
    model.add(MaxPooling1D())
    model.add(Flatten())
    model.add(Dense(128, activation='relu'))
    model.add(Dropout(0.5))
    model.add(Dense(leng, activation='softmax'))
    model.compile(optimizer='adam',
                  loss='categorical_crossentropy',
                  metrics=['accuracy'])
    model.summary()
    
    return model

def evaluation(model, X, Y):
    Y_pred = model.predict(X)
    Y_pred_class = np.argmax(Y_pred, axis=1)
    Y_act = Y
    
    acc = accuracy_score(Y_act, Y_pred_class)
    
    return acc

In [21]:
#mengencoder label
data.sort_values(by=['label'], inplace=True)
data['label_id'] = data['label'].factorize()[0]
kategori_id_data = data[['label', 'label_id']].drop_duplicates().sort_values('label_id')
kategori_to_id = dict(kategori_id_data.values)
id_to_kategori = dict(kategori_id_data[['label_id', 'label']].values)

leng = kategori_id_data.label_id.values
leng = len (leng)

In [22]:
#split data
train, test = train_test_split(data, test_size=0.2)

In [23]:
train.head()

,label,tweet,remove_punc,clean,label_id
29,fear,hari ini jadwal presentasi proker di lppm karn...,hari ini jadwal presentasi proker di lppm karn...,hari jadwal presentasi proker lppm karna prakt...,1
22,happy,ketika aku tersenyum bukan berarti hidupku sem...,ketika aku tersenyum bukan berarti hidupku sem...,aku senyum bukan arti hidup sempurna aku syuk...,2
35,love,kenapa pasangan seringkali diibaratkan sebagai...,kenapa pasangan seringkali diibaratkan sebagai...,pasang seringkali ibarat bagai rumah rasa nya...,3
32,sadness,sungguh mencintaimu berat sekali. berpisah den...,sungguh mencintaimu berat sekali berpisah deng...,sungguh cinta berat sekali pisah hadiahperasaa...,4
30,anger,foto saya di instagram masih ada cuma lupa pas...,foto saya di instagram masih ada cuma lupa pas...,foto instagram cuma lupa password instanya jad...,0

In [24]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40 entries, 29 to 49
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   label        40 non-null     object
 1   tweet        40 non-null     object
 2   remove_punc  40 non-null     object
 3   clean        40 non-null     object
 4   label_id     40 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.9+ KB

In [25]:
print(train.shape)

(40, 5)

In [26]:
text1 = train['clean'].values
label = train['label_id'].values

In [27]:
print(label.shape)

(40,)

In [28]:
#mendefinisikan parameter
tokenizer = Tokenizer()
tokenizer.fit_on_texts(text1)

vocab = max([len(tokenizer.word_index)]) + 1 # kamus kata 
max_sentence_length = 100 # panjang kalimat
batch_size = 32 # penentuan jumlah sampel yang ditraining pada tiap epoch
num_epochs = 30 # banyak iterasi pada saat training model 
initializer = initializers.RandomUniform(minval=-0.05, maxval=0.05, seed=2) # mengatur angka random weigth
embedding_dim = 300

In [29]:
#Data Train
X = tokenizer.texts_to_sequences(text1)
X = pad_sequences(X, maxlen=max_sentence_length)
Y = to_categorical(label, num_classes = leng)

In [30]:
print(Y.shape)

(40, 5)

In [31]:
#Data test
x_test = tokenizer.texts_to_sequences(test['clean'].values)
x_test = pad_sequences(x_test, maxlen=max_sentence_length)

Y_test = to_categorical(test['label_id'], num_classes = leng)

In [32]:
model = get_model(X, Y)

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, 100, 128)          77184

 conv1d (Conv1D)             (None, 100, 128)          114816

 max_pooling1d (MaxPooling1D  (None, 50, 128)          0
 )

 conv1d_1 (Conv1D)           (None, 50, 256)           164096

 max_pooling1d_1 (MaxPooling  (None, 25, 256)          0
 1D)

 conv1d_2 (Conv1D)           (None, 25, 512)           393728

 max_pooling1d_2 (MaxPooling  (None, 12, 512)          0
 1D)

 flatten (Flatten)           (None, 6144)              0

 dense (Dense)               (None, 128)               786560

 dropout (Dropout)           (None, 128)               0

 dense_1 (Dense)             (None, 5)                 645

=================================================================
Total params: 1,537,029
Trainable params: 1,537,029
Non-trainable params: 0
_________________________________________________________________

In [33]:
# training model
model.fit(X, Y, batch_size=batch_size, epochs=num_epochs, verbose=1)

Epoch 1/30
2/2 [==============================] - 1s 69ms/step - loss: 1.6090 - accuracy: 0.2000
Epoch 2/30
2/2 [==============================] - 0s 67ms/step - loss: 1.5355 - accuracy: 0.3750
Epoch 3/30
2/2 [==============================] - 0s 77ms/step - loss: 1.5230 - accuracy: 0.3250
Epoch 4/30
2/2 [==============================] - 0s 68ms/step - loss: 1.4906 - accuracy: 0.4250
Epoch 5/30
2/2 [==============================] - 0s 67ms/step - loss: 1.4744 - accuracy: 0.3750
Epoch 6/30
2/2 [==============================] - 0s 79ms/step - loss: 1.4860 - accuracy: 0.4000
Epoch 7/30
2/2 [==============================] - 0s 72ms/step - loss: 1.4936 - accuracy: 0.2750
Epoch 8/30
2/2 [==============================] - 0s 66ms/step - loss: 1.4130 - accuracy: 0.3750
Epoch 9/30
2/2 [==============================] - 0s 70ms/step - loss: 1.3947 - accuracy: 0.3250
Epoch 10/30
2/2 [==============================] - 0s 71ms/step - loss: 1.3292 - accuracy: 0.3500
Epoch 11/30
2/2 [==============================] - 0s 73ms/step - loss: 1.2478 - accuracy: 0.3250
Epoch 12/30
2/2 [==============================] - 0s 69ms/step - loss: 1.0591 - accuracy: 0.4500
Epoch 13/30
2/2 [==============================] - 0s 66ms/step - loss: 1.0115 - accuracy: 0.4750
Epoch 14/30
2/2 [==============================] - 0s 67ms/step - loss: 1.0409 - accuracy: 0.4000
Epoch 15/30
2/2 [==============================] - 0s 73ms/step - loss: 0.9965 - accuracy: 0.4500
Epoch 16/30
2/2 [==============================] - 0s 66ms/step - loss: 0.8350 - accuracy: 0.4500
Epoch 17/30
2/2 [==============================] - 0s 78ms/step - loss: 0.7498 - accuracy: 0.6250
Epoch 18/30
2/2 [==============================] - 1s 160ms/step - loss: 0.7778 - accuracy: 0.6750
Epoch 19/30
2/2 [==============================] - 1s 111ms/step - loss: 0.7619 - accuracy: 0.7000
Epoch 20/30
2/2 [==============================] - 0s 63ms/step - loss: 0.6245 - accuracy: 0.7000
Epoch 21/30
2/2 [==============================] - 1s 178ms/step - loss: 0.6010 - accuracy: 0.6750
Epoch 22/30
2/2 [==============================] - 1s 128ms/step - loss: 0.5270 - accuracy: 0.6500
Epoch 23/30
2/2 [==============================] - 0s 70ms/step - loss: 0.5136 - accuracy: 0.7250
Epoch 24/30
2/2 [==============================] - 0s 134ms/step - loss: 0.4189 - accuracy: 0.9000
Epoch 25/30
2/2 [==============================] - 1s 161ms/step - loss: 0.3536 - accuracy: 0.9500
Epoch 26/30
2/2 [==============================] - 0s 67ms/step - loss: 0.3029 - accuracy: 0.9250
Epoch 27/30
2/2 [==============================] - 0s 65ms/step - loss: 0.2191 - accuracy: 0.9500
Epoch 28/30
2/2 [==============================] - 0s 82ms/step - loss: 0.1437 - accuracy: 0.9500
Epoch 29/30
2/2 [==============================] - 0s 69ms/step - loss: 0.1129 - accuracy: 0.9750
Epoch 30/30
2/2 [==============================] - 0s 69ms/step - loss: 0.1485 - accuracy: 0.9500

In [34]:
acc = evaluation(model, x_test, test['label_id'].values)
print("Accuracy: %.2f" % (acc*100), "%")

Accuracy: 40.00 %

In [35]:
train.head()

,label,tweet,remove_punc,clean,label_id
29,fear,hari ini jadwal presentasi proker di lppm karn...,hari ini jadwal presentasi proker di lppm karn...,hari jadwal presentasi proker lppm karna prakt...,1
22,happy,ketika aku tersenyum bukan berarti hidupku sem...,ketika aku tersenyum bukan berarti hidupku sem...,aku senyum bukan arti hidup sempurna aku syuk...,2
35,love,kenapa pasangan seringkali diibaratkan sebagai...,kenapa pasangan seringkali diibaratkan sebagai...,pasang seringkali ibarat bagai rumah rasa nya...,3
32,sadness,sungguh mencintaimu berat sekali. berpisah den...,sungguh mencintaimu berat sekali berpisah deng...,sungguh cinta berat sekali pisah hadiahperasaa...,4
30,anger,foto saya di instagram masih ada cuma lupa pas...,foto saya di instagram masih ada cuma lupa pas...,foto instagram cuma lupa password instanya jad...,0

In [36]:
data_output = train[["label","clean","label_id"]]
data_output

      label                                              clean  label_id
29     fear  hari jadwal presentasi proker lppm karna prakt...         1
22    happy   aku senyum bukan arti hidup sempurna aku syuk...         2
35     love   pasang seringkali ibarat bagai rumah rasa nya...         3
32  sadness  sungguh cinta berat sekali pisah hadiahperasaa...         4
30    anger  foto instagram cuma lupa password instanya jad...         0
26    happy  sukses n keren banget dgn no1 kualitasbhn krja...         2
17    anger  sedap kali kau bobok kasur ku aku tidur kau ik...         0
46    anger   ngerti sama ciwiciwi nyinyirin via vallen kor...         0
14    anger  samanye udeh maling semua gak si jancok gak si...         0
21  sadness  paruh hati iri lihat orang anak yg duduk jalan...         4
24     love  kan peluk engkau erat2 hingga tak orang rebut ...         3
39  sadness  bukan dukung doa cuma sikap apa sudah2 pilih u...         4
11    anger  kalaupun fansite ngejual hasil jepret uang nya...         0
44  sadness   iya ibu nya ngelahirin anak 3 cewek tpi gak t...         4
38    happy  bberapa tahun kemudian sejahtera keluarga makm...         2
31     fear  drama kmarin sore hari puasa trus pa lg mandi ...         1
41    anger  gemes bgt sama orang yg anggap wajar leceh sex...         0
9   sadness  pulang udah h4 lebaran dilema sekali laku apa2...         4
37    happy  ponakan kls 4 sd lg demen nonton video tutoria...         2
5     anger   sekian banyak thread aku baca thread paling a...         0
6     happy  sharing sama temen tuh emg bgt lu ngerasa masa...         2
1     anger  sama cewe lho kayak lebih rasain lah sibuk jag...         0
40    happy  jnejnt lama pake entah kirim paketbeli olshop ...         2
34    happy   akhir lewat semua semua dulu bayang betapa su...         2
2     happy  kepingin gudeg mbarek bu hj amad foto google s...         2
47    anger  hari libur rencana mau nonton jurassic world k...         0
48    anger  nah yg nunggu anak anteng sabar luas samudra t...         0
42     fear  apa hukum main musik stad jelas haroooom hukum...         1
28    anger  gimana orang ga nilai dr jilbabsyaringgak nya ...         0
43    anger  apa hebat mardani turut sy oeang cuma besar mu...         0
12    happy  sangat syukur doa kakek bung karno sama anakan...         2
36     fear   tau kalo rasa sakit hati memamg sulit kala ny...         1
10    anger  betul min rakyat indonesia sekarang harap nya ...         0
7   sadness  orang kalau pake ponco buat jas hujan nah pake...         4
45    happy  z suka twitter soalny perempuan ji semua teman...         2
18    happy  h9 mau bank rame bgt ampe antri tempat duduk l...         2
13  sadness  sulit terima nyata memang anggap interaksi sat...         4
0     anger  soal jln jatibarupolisi tdk b gertak gubernur ...         0
23  sadness   mau tdr tidur sampe bgn tdr kok yaa kayak nge...         4
49     love  ku rindu bisik mu telinga kau kata moga kelak ...         3

In [37]:
#menyimpan model dan cache data untuk digunakan ketika prediction 
# model.save('./model/model.h5')
model.save('/content/gdrive/MyDrive/narasio/materi fix/deploymen pertemuan 1/main room/model/model.h5')

# os.remove('./model/data_after.csv')
# export = data_output.to_csv (r'./model/data_after.csv', index = None, header=True,sep =',', encoding = 'iso-8859-1')
export = data_output.to_csv (r'/content/gdrive/MyDrive/narasio/materi fix/deploymen pertemuan 1/main room/model/data_after.csv', index = None, header=True,sep =',', encoding = 'iso-8859-1')

menjadikan proses train menjadi satu function

In [38]:
#function train
def get_model(X, Y, vocab, max_sentence_length, initializer, leng):
    model = Sequential()
    model.add(Embedding(input_dim = vocab, output_dim = 128, input_length = max_sentence_length, embeddings_initializer = initializer))
    model.add(Conv1D(128, 7, activation='relu',padding='same'))
    model.add(MaxPooling1D())
    model.add(Conv1D(256, 5, activation='relu',padding='same'))
    model.add(MaxPooling1D())
    model.add(Conv1D(512, 3, activation='relu',padding='same'))
    model.add(MaxPooling1D())
    model.add(Flatten())
    model.add(Dense(128, activation='relu'))
    model.add(Dropout(0.5))
    model.add(Dense(leng, activation='softmax'))
    model.compile(optimizer='adam',
                  loss='categorical_crossentropy',
                  metrics=['accuracy'])
    model.summary()
    
    return model

def evaluation(model, X, Y):
    Y_pred = model.predict(X)
    Y_pred_class = np.argmax(Y_pred, axis=1)
    Y_act = Y
    
    acc = accuracy_score(Y_act, Y_pred_class)
    
    return acc

def train (data, nama_kolom_text, nama_kolom_label):
  data.sort_values(by=[nama_kolom_label], inplace=True)
  data['label_id'] = data[nama_kolom_label].factorize()[0]
  kategori_id_data = data[[nama_kolom_label, 'label_id']].drop_duplicates().sort_values('label_id')
  kategori_to_id = dict(kategori_id_data.values)
  id_to_kategori = dict(kategori_id_data[['label_id', nama_kolom_label]].values)
  
  leng = kategori_id_data.label_id.values
  leng = len (leng)

  train, test = train_test_split(data, test_size=0.2)

  text1 = train[nama_kolom_text].values
  label = train['label_id'].values

  #text1 = str(text1)
  tokenizer = Tokenizer()
  tokenizer.fit_on_texts(text1)
  
  vocab = max([len(tokenizer.word_index)]) + 1 # kamus kata 
  max_sentence_length = 100 # panjang kalimat
  batch_size = 32 # penentuan jumlah sampel yang ditraining pada tiap epoch
  num_epochs = 10 # banyak iterasi pada saat training model 
  initializer = initializers.RandomUniform(minval=-0.05, maxval=0.05, seed=2) # mengatur angka random weigth
  embedding_dim = 300

  #Data Train
  X = tokenizer.texts_to_sequences(text1)
  X = pad_sequences(X, maxlen=max_sentence_length)
  Y = to_categorical(label, num_classes = leng)

  #Data test
  x_test = tokenizer.texts_to_sequences(test[nama_kolom_text].values)
  x_test = pad_sequences(x_test, maxlen=max_sentence_length)
  Y_test = to_categorical(test['label_id'], num_classes = leng)

  model = get_model(X, Y, vocab, max_sentence_length, initializer, leng)

  # training model
  model.fit(X, Y, batch_size=batch_size, epochs=num_epochs, verbose=1)

  acc = evaluation(model, x_test, test['label_id'].values)
  print("Accuracy: %.2f" % (acc*100), "%")

  data_output = train[[nama_kolom_label,nama_kolom_text,"label_id"]]

  # os.remove('./model')
  # model.save('./model/model.h5')
  # export = data_output.to_csv (r'./model/data_after.csv', index = None, header=True,sep =',', encoding = 'iso-8859-1')

  model.save('/content/gdrive/MyDrive/narasio/materi fix/deploymen pertemuan 1/main room/model/model.h5')
  export = data_output.to_csv (r'/content/gdrive/MyDrive/narasio/materi fix/deploymen pertemuan 1/main room/model/data_after.csv', index = None, header=True,sep =',', encoding = 'iso-8859-1')

  return ("Accuracy: %.2f" % (acc*100))

In [39]:
train(df_pre,'clean','label')

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_1 (Embedding)     (None, 100, 128)          76672

 conv1d_3 (Conv1D)           (None, 100, 128)          114816

 max_pooling1d_3 (MaxPooling  (None, 50, 128)          0
 1D)

 conv1d_4 (Conv1D)           (None, 50, 256)           164096

 max_pooling1d_4 (MaxPooling  (None, 25, 256)          0
 1D)

 conv1d_5 (Conv1D)           (None, 25, 512)           393728

 max_pooling1d_5 (MaxPooling  (None, 12, 512)          0
 1D)

 flatten_1 (Flatten)         (None, 6144)              0

 dense_2 (Dense)             (None, 128)               786560

 dropout_1 (Dropout)         (None, 128)               0

 dense_3 (Dense)             (None, 5)                 645

=================================================================
Total params: 1,536,517
Trainable params: 1,536,517
Non-trainable params: 0
_________________________________________________________________
Epoch 1/10
2/2 [==============================] - 1s 73ms/step - loss: 1.6094 - accuracy: 0.1000
Epoch 2/10
2/2 [==============================] - 0s 78ms/step - loss: 1.4758 - accuracy: 0.3750
Epoch 3/10
2/2 [==============================] - 0s 67ms/step - loss: 1.4343 - accuracy: 0.4250
Epoch 4/10
2/2 [==============================] - 0s 66ms/step - loss: 1.3418 - accuracy: 0.3500
Epoch 5/10
2/2 [==============================] - 0s 75ms/step - loss: 1.4077 - accuracy: 0.3750
Epoch 6/10
2/2 [==============================] - 0s 73ms/step - loss: 1.3081 - accuracy: 0.4500
Epoch 7/10
2/2 [==============================] - 0s 75ms/step - loss: 1.2195 - accuracy: 0.5000
Epoch 8/10
2/2 [==============================] - 0s 74ms/step - loss: 1.1681 - accuracy: 0.4750
Epoch 9/10
2/2 [==============================] - 0s 79ms/step - loss: 1.1099 - accuracy: 0.5250
Epoch 10/10
2/2 [==============================] - 0s 68ms/step - loss: 1.0327 - accuracy: 0.4500
Accuracy: 50.00 %

'Accuracy: 50.00'

pindahkan seluruh skript yang sudah menjadi fungsi dan package ke dalam file py

memanggil file py

In [40]:
!ls

gdrive	sample_data

In [41]:
%cd /content/gdrive/MyDrive/narasio/"materi fix"/"deploymen pertemuan 1"/"main room"

/content/gdrive/MyDrive/narasio/materi fix/deploymen pertemuan 1/main room

In [42]:
!ls

 indo_data50.csv    model				 text_analyst.py
 indo_dataset.csv  '[output]text analysis keras.ipynb'
 kode_train.py	    __pycache__

In [43]:
!python text_analyst.py

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

memanggil menggunakan **import**

In [44]:
name_file ="indo_data50.csv"
data = pd.read_csv(name_file)
data.head()

   label                                              tweet
0  anger  Soal jln Jatibaru,polisi tdk bs GERTAK gubernu...
1  anger  Sesama cewe lho (kayaknya), harusnya bisa lebi...
2  happy  Kepingin gudeg mbarek Bu hj. Amad Foto dari go...
3  anger  Jln Jatibaru,bagian dari wilayah Tn Abang.Peng...
4  happy  Sharing pengalaman aja, kemarin jam 18.00 bata...

In [50]:
import kode_train

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [51]:
name_column_dataset = 'tweet'
df_pre = kode_train.prepros (data, name_column_dataset)

lema done 0:00:00.017375
stemmer done 0:00:48.487263
stopword done 0:00:00.004919

In [52]:
df_pre.head()

,label,tweet,remove_punc,clean,label_id
0,anger,"soal jln jatibaru,polisi tdk bs gertak gubernu...",soal jln jatibarupolisi tdk bs gertak gubernur...,soal jln jatibarupolisi tdk b gertak gubernur ...,0
25,anger,kalo mau ganti presiden itu harus jelas siapa ...,kalo mau ganti presiden itu harus jelas siapa ...,kalo mau ganti presiden jelas siapa calon te...,0
48,anger,"nah ini, yg nunggu anak anteng dengan kesabara...",nah ini yg nunggu anak anteng dengan kesabaran...,nah yg nunggu anak anteng sabar luas samudra...,0
41,anger,gemes bgt sama orang yg masih menganggap wajar...,gemes bgt sama orang yg masih menganggap wajar...,gemes bgt sama orang yg anggap wajar leceh se...,0
30,anger,foto saya di instagram masih ada cuma lupa pas...,foto saya di instagram masih ada cuma lupa pas...,foto instagram cuma lupa password instanya...,0

In [53]:
kode_train.train(df_pre,'clean','label')

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_2 (Embedding)     (None, 100, 128)          80000

 conv1d_6 (Conv1D)           (None, 100, 128)          114816

 max_pooling1d_6 (MaxPooling  (None, 50, 128)          0
 1D)

 conv1d_7 (Conv1D)           (None, 50, 256)           164096

 max_pooling1d_7 (MaxPooling  (None, 25, 256)          0
 1D)

 conv1d_8 (Conv1D)           (None, 25, 512)           393728

 max_pooling1d_8 (MaxPooling  (None, 12, 512)          0
 1D)

 flatten_2 (Flatten)         (None, 6144)              0

 dense_4 (Dense)             (None, 128)               786560

 dropout_2 (Dropout)         (None, 128)               0

 dense_5 (Dense)             (None, 5)                 645

=================================================================
Total params: 1,539,845
Trainable params: 1,539,845
Non-trainable params: 0
_________________________________________________________________
Epoch 1/10
2/2 [==============================] - 1s 72ms/step - loss: 1.6135 - accuracy: 0.2250
Epoch 2/10
2/2 [==============================] - 0s 74ms/step - loss: 1.4602 - accuracy: 0.4250
Epoch 3/10
2/2 [==============================] - 0s 69ms/step - loss: 1.5755 - accuracy: 0.4250
Epoch 4/10
2/2 [==============================] - 0s 80ms/step - loss: 1.4542 - accuracy: 0.4250
Epoch 5/10
2/2 [==============================] - 0s 72ms/step - loss: 1.4514 - accuracy: 0.5000
Epoch 6/10
2/2 [==============================] - 0s 70ms/step - loss: 1.4565 - accuracy: 0.4750
Epoch 7/10
2/2 [==============================] - 0s 88ms/step - loss: 1.4453 - accuracy: 0.4000
Epoch 8/10
2/2 [==============================] - 0s 68ms/step - loss: 1.2891 - accuracy: 0.3750
Epoch 9/10
2/2 [==============================] - 0s 73ms/step - loss: 1.2129 - accuracy: 0.4250
Epoch 10/10
2/2 [==============================] - 0s 84ms/step - loss: 1.1063 - accuracy: 0.4500
Accuracy: 50.00 %

memanggil menggunakan **from** dan **import**

In [54]:
from kode_train import train

In [55]:
train(df_pre,'clean','label')

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_3 (Embedding)     (None, 100, 128)          80256

 conv1d_9 (Conv1D)           (None, 100, 128)          114816

 max_pooling1d_9 (MaxPooling  (None, 50, 128)          0
 1D)

 conv1d_10 (Conv1D)          (None, 50, 256)           164096

 max_pooling1d_10 (MaxPoolin  (None, 25, 256)          0
 g1D)

 conv1d_11 (Conv1D)          (None, 25, 512)           393728

 max_pooling1d_11 (MaxPoolin  (None, 12, 512)          0
 g1D)

 flatten_3 (Flatten)         (None, 6144)              0

 dense_6 (Dense)             (None, 128)               786560

 dropout_3 (Dropout)         (None, 128)               0

 dense_7 (Dense)             (None, 5)                 645

=================================================================
Total params: 1,540,101
Trainable params: 1,540,101
Non-trainable params: 0
_________________________________________________________________
Epoch 1/10
2/2 [==============================] - 1s 70ms/step - loss: 1.5891 - accuracy: 0.2500
Epoch 2/10
2/2 [==============================] - 0s 76ms/step - loss: 1.3503 - accuracy: 0.4750
Epoch 3/10
2/2 [==============================] - 0s 71ms/step - loss: 1.6494 - accuracy: 0.4750
Epoch 4/10
2/2 [==============================] - 0s 72ms/step - loss: 1.3811 - accuracy: 0.4000
Epoch 5/10
2/2 [==============================] - 0s 70ms/step - loss: 1.4865 - accuracy: 0.3750
Epoch 6/10
2/2 [==============================] - 0s 74ms/step - loss: 1.4712 - accuracy: 0.4250
Epoch 7/10
2/2 [==============================] - 0s 72ms/step - loss: 1.4044 - accuracy: 0.4750
Epoch 8/10
2/2 [==============================] - 0s 67ms/step - loss: 1.2881 - accuracy: 0.5000
Epoch 9/10
2/2 [==============================] - 0s 69ms/step - loss: 1.2230 - accuracy: 0.5000
Epoch 10/10
2/2 [==============================] - 0s 70ms/step - loss: 1.1138 - accuracy: 0.5250
Accuracy: 30.00 %